@import 'variables';
@import "../bourbon/bourbon";

article {
  width:50vw;
  height:40vh;
  max-height:40vh;
  text-align:center;
  margin:0 auto;
  @media screen and (min-width:375px) and (max-width:667px) {
    width:70vw;
    height:auto;
  }
  img {
  max-width: 50vw;
  height:auto;
  max-height:60vh;
  @media screen and (min-width:375px) and (max-width:667px) {
    width:95%;
    height:auto;
  }
  }
}

.wordone {
  color:#B1E6EB;
  /* position:absolute; */
  display:inline-block;
  /* right:-50%; */
  @include animation(wordone 1s .5s ease backwards);

}
.wordtwo {
  color:black;
/*   position:absolute; */
  display:inline-block;
  /* right:-50%; */
  @include animation(wordtwo 1s 1s ease backwards);

}

h3 {
  font-size: 6vw;
  font-family: 'Josefin Slab', serif;
  padding-top: 5%;
}

body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  text-align: center;
  padding-top: 5vh;
  display:block;
  #home {
    display:block;
    position:absolute;
    top:25%;
/*     font-family: 'sipster'; */
    font-family: 'Josefin Slab', serif;
    font-size: 2vw;
    margin: 0 auto;
    margin-left: 6%;
    padding:.8%;
    border-radius:50%;
    background-color:white;
    width: 12%;
    z-index:1000;
    &:hover {
      background-color:#B1E6EB;
      cursor:pointer;
    }
    span.fa {
      font-weight:100;
      padding-right:.5vw;
    }
  }

  h1 {
    /* font-family: 'sipster'; */
    font-family: 'Yesteryear', cursive;
    font-size:50em;
    font-size: 14vw;
    text-align: center;
    margin: 0 auto;
    color: $h1-font-color;
    display:block;
    padding: 0 5% 0 5%;
    position:relative;

  }

}


section {
  margin: auto;
  display: none;
  width:80%;
  text-align:center;
  position:relative;
  z-index:1000;
  .mood {
    display: block;
    text-align: center;
    margin-top: 0;
  }
}

h2 {
  font-size: 24px;
  font-family: 'sipster';
  text-align: center;
  padding-top: -55px;
  padding-bottom: 41px;
  letter-spacing: 1.5px;

}

.bubbly {
  position: absolute; z-index:-5000; width:100%;
  #o { width: 90%; height:100vh; position: relative; z-index:-5000; margin-top:-90vh;}
  .bubble { border: 1px solid #13A1BF; display: block; position: absolute; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }
}

.moodbtn {
    text-align: center;
    width: 30%;
    padding-top:30%;
    height: auto;
    border-radius: 50%;
    margin: 5%;
    /* font-family: 'sipster'; */
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
    color: black;
    border: 2px solid #13A1BF;
    background:white;
    position:relative;

    &:hover {
      border: 5px double black;
    /*   background: #B1E6EB; */
      color: black;
      @include transition(all 1s ease);
      background-color:#B1E6EB;
    }
    h3 {
      position:absolute;
      top:40%;
      left:15%;
      text-align:center;
      margin:0 auto;
      z-index:1000;
      font-size: 5vw;
    }
}


.chosenOne {
  @include animation(rise 2s forwards);
}

.animate {
  @include animation(animation 4s);
  opacity:0;
  transform: translateY(1000px);
}

.fadein {
  @include animation(fade 2s .5s backwards);
}

.drink {
  @include animation(slide 1s ease backwards);
}



//KEYFRAMES

@include keyframes(wordone) {
  0% {
    @include transform(translateX(-1000%));
  }
  100%{
    @include transform(translateX(0%));
  }
}

@include keyframes(wordtwo) {
  0% {
    @include transform(translateX(1000%));
  }
  100%{
    @include transform(translateX(0%));
  }
}

@include keyframes(slide) {
  0% {
    @include transform(translateX(250%));
  }
  50%{
    @include transform(translateX(-8%));
  }
  65%{
    @include transform(translateX(4%));
  }
  80%{
    @include transform(translateX(-4%));
  }
  95%{
    @include transform(translateX(2%));
  }
  100% {
    @include transform(translateX(0%));
  }
}


@include keyframes(animation) {
  0%{
    opacity:100;
  }
  100%
  {
    opacity:0;
    display:none;
  }
}


@include keyframes(rise) {
  0%{

  }
  100%
  {
    @include transform(translateX(-100px));
    @include transform(translateY(-250px));
    opacity:0;
  }
}

@include keyframes(fade) {
  0%{
    opacity:0;
  }
  100%
  {
    opacity:1;
  }
}


//SHOW/HIDES

/* div{
  display: none;
} */

.active {
  display: block;
}
