@font-face {
  font-family: 'sipster';
  src: url(SUNN.otf); }
article {
  width: 50vw;
  height: 40vh;
  max-height: 40vh;
  text-align: center;
  margin: 0 auto; }
  @media screen and (min-width: 375px) and (max-width: 667px) {
    article {
      width: 70vw;
      height: auto; } }
  article img {
    max-width: 50vw;
    height: auto;
    max-height: 60vh; }
    @media screen and (min-width: 375px) and (max-width: 667px) {
      article img {
        width: 95%;
        height: auto; } }

.wordone {
  color: #B1E6EB;
  /* position:absolute; */
  display: inline-block;
  /* right:-50%; */
  -webkit-animation: wordone 1s 0.5s ease backwards;
  -moz-animation: wordone 1s 0.5s ease backwards;
  animation: wordone 1s 0.5s ease backwards; }

.wordtwo {
  color: black;
  /*   position:absolute; */
  display: inline-block;
  /* right:-50%; */
  -webkit-animation: wordtwo 1s 1s ease backwards;
  -moz-animation: wordtwo 1s 1s ease backwards;
  animation: wordtwo 1s 1s ease backwards; }

h3 {
  font-size: 6vw;
  font-family: 'Josefin Slab', serif;
  padding-top: 5%; }

body, h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  text-align: center;
  padding-top: 5vh;
  display: block; }
  header #home {
    display: block;
    position: absolute;
    top: 25%;
    cursor: pointer;
    font-family: 'Josefin Slab', serif;
    font-size: 2vw;
    margin: 0 auto;
    margin-left: 6%;
    padding: .8%;
    border-radius: 50%;
    background-color: white;
    width: 12%;
    border: solid 1px black;
    z-index: 2000; }
    header #home:hover {
      background-color: #B1E6EB; }
    header #home a {
      font-family: 'Josefin Slab', serif;
      font-size: 2vw;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      color: black; }
    header #home span.fa {
      font-weight: 100;
      padding-right: .5vw; }
  header h1 {
    /* font-family: 'sipster'; */
    font-family: 'Yesteryear', cursive;
    font-size: 50em;
    font-size: 14vw;
    text-align: center;
    margin: 0 auto;
    color: #1c1c1c;
    display: block;
    padding: 0 5% 0 5%;
    position: relative; }

section {
  margin: auto;
  display: none;
  width: 80%;
  text-align: center;
  position: relative;
  z-index: 1000; }
  section .mood {
    display: block;
    text-align: center;
    margin-top: 0; }

h2 {
  font-size: 24px;
  font-family: 'sipster';
  text-align: center;
  padding-top: -55px;
  padding-bottom: 41px;
  letter-spacing: 1.5px; }

.bubbly {
  position: absolute;
  z-index: -5000;
  width: 100%; }
  .bubbly #o {
    width: 90%;
    height: 100vh;
    position: relative;
    z-index: -5000;
    margin-top: -90vh; }
  .bubbly .bubble {
    border: 1px solid #13A1BF;
    display: block;
    position: absolute;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px; }

.moodbtn {
  text-align: center;
  width: 30%;
  padding-top: 30%;
  height: auto;
  border-radius: 50%;
  margin: 5%;
  /* font-family: 'sipster'; */
  font-family: 'Josefin Slab', serif;
  font-size: 50px;
  color: black;
  border: 2px solid #13A1BF;
  background: white;
  position: relative; }
  .moodbtn:hover {
    border: 5px double black;
    /*   background: #B1E6EB; */
    color: black;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    background-color: #B1E6EB; }
  .moodbtn h3 {
    position: absolute;
    top: 40%;
    left: 15%;
    text-align: center;
    margin: 0 auto;
    z-index: 1000;
    font-size: 5vw; }

.chosenOne {
  -webkit-animation: rise 2s forwards;
  -moz-animation: rise 2s forwards;
  animation: rise 2s forwards; }

.animate {
  -webkit-animation: animation 4s;
  -moz-animation: animation 4s;
  animation: animation 4s;
  opacity: 0;
  transform: translateY(1000px); }

.fadein {
  -webkit-animation: fade 2s 0.5s backwards;
  -moz-animation: fade 2s 0.5s backwards;
  animation: fade 2s 0.5s backwards; }

.drink {
  -webkit-animation: slide 1s ease backwards;
  -moz-animation: slide 1s ease backwards;
  animation: slide 1s ease backwards; }

@-webkit-keyframes wordone {
  0% {
    -webkit-transform: translateX(-1000%); }
  100% {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes wordone {
  0% {
    -moz-transform: translateX(-1000%); }
  100% {
    -moz-transform: translateX(0%); } }
@keyframes wordone {
  0% {
    -webkit-transform: translateX(-1000%);
    -moz-transform: translateX(-1000%);
    -ms-transform: translateX(-1000%);
    -o-transform: translateX(-1000%);
    transform: translateX(-1000%); }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes wordtwo {
  0% {
    -webkit-transform: translateX(1000%); }
  100% {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes wordtwo {
  0% {
    -moz-transform: translateX(1000%); }
  100% {
    -moz-transform: translateX(0%); } }
@keyframes wordtwo {
  0% {
    -webkit-transform: translateX(1000%);
    -moz-transform: translateX(1000%);
    -ms-transform: translateX(1000%);
    -o-transform: translateX(1000%);
    transform: translateX(1000%); }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(250%); }
  50% {
    -webkit-transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes slide {
  0% {
    -moz-transform: translateX(250%); }
  50% {
    -moz-transform: translateX(-8%); }
  65% {
    -moz-transform: translateX(4%); }
  80% {
    -moz-transform: translateX(-4%); }
  95% {
    -moz-transform: translateX(2%); }
  100% {
    -moz-transform: translateX(0%); } }
@keyframes slide {
  0% {
    -webkit-transform: translateX(250%);
    -moz-transform: translateX(250%);
    -ms-transform: translateX(250%);
    -o-transform: translateX(250%);
    transform: translateX(250%); }
  50% {
    -webkit-transform: translateX(-8%);
    -moz-transform: translateX(-8%);
    -ms-transform: translateX(-8%);
    -o-transform: translateX(-8%);
    transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%);
    -moz-transform: translateX(4%);
    -ms-transform: translateX(4%);
    -o-transform: translateX(4%);
    transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%);
    -moz-transform: translateX(-4%);
    -ms-transform: translateX(-4%);
    -o-transform: translateX(-4%);
    transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%);
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -o-transform: translateX(2%);
    transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes animation {
  0% {
    opacity: 100; }
  100% {
    opacity: 0;
    display: none; } }
@-moz-keyframes animation {
  0% {
    opacity: 100; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes animation {
  0% {
    opacity: 100; }
  100% {
    opacity: 0;
    display: none; } }
@-webkit-keyframes rise {
  100% {
    -webkit-transform: translateX(-100px);
    -webkit-transform: translateY(-250px);
    opacity: 0; } }
@-moz-keyframes rise {
  100% {
    -moz-transform: translateX(-100px);
    -moz-transform: translateY(-250px);
    opacity: 0; } }
@keyframes rise {
  100% {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transform: translateY(-250px);
    -moz-transform: translateY(-250px);
    -ms-transform: translateY(-250px);
    -o-transform: translateY(-250px);
    transform: translateY(-250px);
    opacity: 0; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* div{
  display: none;
} */
.active {
  display: block; }

/*# sourceMappingURL=styles.css.map */
